<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_notgoingtofail">

    <application
        android:name="com.example.javaClasses.GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddressToMapActivity"></activity>
        <activity android:name=".BranchEmployeeViewRequestsActivity" />
        <activity android:name=".CustomerServiceActivity" />
        <activity android:name=".AdminBranchServiceEditingActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".AdminBranchEditingActivity" />
        <activity android:name=".BranchEmployeeActivity" />
        <activity android:name=".CustomerActivity" />
        <activity android:name=".AdminUserEditingActivity" />
        <activity android:name=".ErrorActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>